deploy/images/
deploy/input/
deploy/hss-payload-generator
deploy/src.bin
deploy/u-boot.bin
deploy/.modules
deploy/*-modules.tar.gz
deploy/Image
deploy/*.dtb
deploy/debian*
deploy/ubuntu*
/ignore/
/mirror/
/riscv-toolchain/
/hart-software-services/
/u-boot/
/linux/
/gateware-snapshots/
